@font-face {
    font-family:'Pro Text';
    src: url('/css/font/pro-text_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Pro Text';
    src: url('/css/font/pro-text_medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Pro Text';
    src: url('/css/font/pro-text_semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:'Pro Text';
    src: url('/css/font/pro-text_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Pro Display';
    src: url('/css/font/pro-display_medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Pro Display';
    src: url('/css/font/pro-display_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}