@font-face {
    font-family:'Pro Display';
    src: url('/css/font/pro-display_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Pro Display';
    src: url('/css/font/pro-display_semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:'Pro Icons';
    src: url('/css/font/pro-icons_regular.woff2')  format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}